@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value Gotham_Ultra from '../../common/fonts.css';
@value Maven_Pro from  '../../common/fonts.css';

.container {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 550px;
  position: relative;
}

.bgImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  position: absolute;
}

.title {
  width: 34.729rem;
  height: 9.059rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gotham_Ultra;
  font-size: 3.228rem;
  color: makerWhite;
  background-color: makerBlack;
  z-index: 1;
}

.btn {
  width: 16.25rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.919rem;
  font-family: Maven_Pro;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.122rem;
  color: makerBlack;
  border: 0.031rem solid makerBlack;
  z-index: 3;
}

.btn:hover {
  cursor: pointer;
  background-color: makerBlack;
  color: white;
  transition: 0.5s ease-in-out;
}

.blackBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.6;
  transition: 0.5s ease-in;
  z-index: 2;
}

.transparentBG {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  transition: 0.5s ease-in;
  z-index: 2;
}
