@value makerDeepBlue from  '../../common/colors.css';
@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value Gotham_Bold from  '../../common/fonts.css';
@value Noto_Sans_KR from  '../../common/fonts.css';

.container {
  width: 100vw;
  height: 100vh;
  background-color: makerDeepBlue;
  position: relative;
}

.typescript {
  height: 17.7%;
  width: 25%;
  top: 23.5%;
  left: 6.25%;
  position: absolute;
  border: 0.5px solid makerBlack;
  background-color: makerWhite;
  animation: Opacity 1.8s linear forwards 0s;
}

.git {
  height: 17.7%;
  width: 22%;
  position: absolute;
  top: 14.7%;
  right: 9.25%;
  border: 0.5px solid makerBlack;
  animation: Opacity 1.8s linear forwards 0s;
}

.graphql {
  height: 17.7%;
  width: 21%;
  position: absolute;
  bottom: 23.35%;
  right: 7%;
  border: 0.5px solid makerBlack;
  animation: Opacity 1.8s linear forwards 0s;
}

.jest {
  height: 17.7%;
  width: 30%;
  position: absolute;
  bottom: 23.35%;
  left: 3%;
  border: 0.5px solid makerBlack;
  animation: Opacity 1.8s linear forwards 0s;
}

.w {
  top: 60%;
  left: 50%;
  height: 80%;
  font-family: Gotham_Bold;
  font-size: 30vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sub {
  top: 75%;
  left: 50%;
  width: 12%;
  height: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_KR;
  font-size: 1.05vw;
  font-weight: 700;
  background-color: makerWhite;
  position: absolute;
  transform: translate(-50%, -50%);
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
