@value makerDeepBlue from  '../../common/colors.css';
@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value Gotham_Bold from  '../../common/fonts.css';
@value Noto_Sans_KR from  '../../common/fonts.css';

.container {
  width: 100vw;
  height: 100vh;
  background-color: makerDeepBlue;
  position: relative;
}

.typescript {
  height: 19.6%;
  width: 25.2%;
  top: 20.7%;
  left: 6.25%;
  position: absolute;
  border: 0.5px solid makerBlack;
  background-color: makerWhite;
}

.git {
  height: 19.6%;
  width: 22%;
  position: absolute;
  top: 14.7%;
  right: 9.25%;
  border: 0.5px solid makerBlack;
}

.graphql {
  height: 19.6%;
  width: 21%;
  position: absolute;
  bottom: 23.35%;
  right: 7%;
  border: 0.5px solid makerBlack;
}

.jest {
  height: 19.6%;
  width: 30%;
  position: absolute;
  bottom: 23.35%;
  left: 3%;
  border: 0.5px solid makerBlack;
}

/* .title {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
} */

.w {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: Gotham_Bold;
  font-size: 33vmax;
  position: absolute;
}

.sub {
  width: 10.7%;
  height: 3.7%;
  display: flex;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_KR;
  font-size: 0.95vmax;
  font-weight: 900;
  background-color: makerWhite;
  position: absolute;
}
