@value makerWhite from "../../common/colors.css";
@value makerBlack from "../../common/colors.css";

.container {
  width: 3.7%;
  height: 6.9%;
  position: absolute;
  bottom: 8%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerWhite;
  font-size: 1.3vw;
  color: makerBlack;
}

.container:hover {
  cursor: pointer;
}
