@value makerWhite from "../../common/colors.css";
@value makerBlack from "../../common/colors.css";

.container {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 8%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerWhite;
  font-size: 0.813rem;
  color: makerBlack;
}

.container:hover {
  cursor: pointer;
}
