@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';

.container {
  width: 100vw;
  height: 100vh;
  background-color: makerBlack;
  overflow: hidden;
  animation: Opacity 0.2s linear forwards 0s;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content__text {
  width: 100%;
  height: 100%;
  position: relative;
  left: 2%;
  bottom: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Opacity 1.8s linear forwards 0s;
  animation-delay: 0.01s;
}

.content__test {
  width: 100%;
  height: 100%;
  position: relative;
  top: 2%;
  left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
