@value makerBlue from  '../../common/colors.css';
@value makerPurple from  '../../common/colors.css';
@value makerWhite from  '../../common/colors.css';
@value makerOrange from  '../../common/colors.css';
@value makerLightBlue from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';

.background {
  background-color: #1e1e1c;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;
}

.box {
  background-color: #1e1e1c;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  box-sizing: border-box;
}

.it {
  padding-left: 1.5rem;
}

.expect {
  padding-left: 3rem;
}

.box2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  user-select: none;
}

.startButton {
  position: absolute;
}

.startButton:hover {
  cursor: pointer;
}

.purple {
  color: makerPurple;
}

.blue {
  color: makerBlue;
}

.orange {
  color: makerOrange;
}

.white {
  color: makerWhite;
}

.lightblue {
  color: makerLightBlue;
}
