@value makerDeepBlue from  '../../common/colors.css';
@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value Gotham_Bold from  '../../common/fonts.css';
@value Noto_Sans_KR from  '../../common/fonts.css';

.container {
  width: 100vw;
  height: 100vh;
  min-width: 1160px;
  min-height: 550px;
  background-color: makerDeepBlue;
  position: relative;
}

.typescript {
  height: 8.2rem;
  width: 20.7rem;
  top: 20.7%;
  left: 6.25%;
  position: absolute;
  border: 0.031rem solid makerBlack;
  background-color: makerWhite;
}

.tailwind {
  height: 8.2rem;
  width: 17.736rem;
  position: absolute;
  top: 10.81%;
  right: 9.25%;
  border: 0.031rem solid makerBlack;
}

.graphql {
  height: 8.2rem;
  width: 20.5rem;
  position: absolute;
  bottom: 20.55%;
  right: 7%;
  border: 0.031rem solid makerBlack;
}

.jest {
  height: 8.2rem;
  width: 25rem;
  position: absolute;
  bottom: 20.55%;
  left: 2.5%;
  border: 0.031rem solid makerBlack;
}

/* .title {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
} */

.w {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: Gotham_Bold;
  font-size: 26.788rem;
  position: absolute;
}

.sub {
  width: 8.637rem;
  height: 1.544rem;
  display: flex;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_KR;
  font-size: 0.762rem;
  font-weight: 900;
  background-color: makerWhite;
  position: absolute;
}
