@value makerDeepBlue from  '../../common/colors.css';
@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value Gotham_Bold from  '../../common/fonts.css';
@value Gotham_Medium from  '../../common/fonts.css';
@value Noto_Sans_KR from  '../../common/fonts.css';

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: rgb(187, 186, 186);
  background: linear-gradient(
    180deg,
    rgba(225, 225, 225, 1) 0%,
    rgba(232, 232, 232, 1) 6%,
    rgba(255, 255, 255, 1) 14%
  );
  overflow: hidden;
}

.d {
  top: 40%;
  left: 50%;
  height: 80%;
  font-family: Gotham_Medium;
  font-size: 35vw;
  color: makerDeepBlue;
  position: absolute;
  transform: translate(-50%, -50%);
}

.title {
  top: 46%;
  left: 50%;
  width: 9%;
  height: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_KR;
  font-size: 1.5vw;
  font-weight: 900;
  color: makerDeepBlue;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sub {
  top: 51%;
  left: 50%;
  width: 9%;
  height: 4.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto_Sans_KR;
  font-size: 1vw;
  font-weight: 700;
  color: makerWhite;
  background-color: makerDeepBlue;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* logo */
.javascript {
  position: absolute;
  top: 36%;
  left: 35%;
}

.apiss {
  position: absolute;
  top: 61%;
  left: 2.7%;
}

.git {
  position: absolute;
  top: 20.5%;
  left: 53.5%;
}

.reacts {
  position: absolute;
  top: 43%;
  right: 6%;
}

.security {
  position: absolute;
  top: 69%;
  left: 53.5%;
}

/* speech bubble */
.text__js {
  position: absolute;
  top: 7%;
  left: 5.8%;
}

.text__api {
  position: absolute;
  top: 45%;
  left: 9.1%;
}

.text__security {
  position: absolute;
  top: 47%;
  right: 26%;
}

.text__git {
  position: absolute;
  top: -4%;
  right: 28%;
}

.text__react {
  position: absolute;
  top: 22%;
  right: 28%;
}
