@value Yoon_Gothic_780 from  '../../../../common/fonts.css';
@value Kopub_Medium from  '../../../../common/fonts.css';
@value Maven_Pro from  '../../../../common/fonts.css';
@value makerDeepBlue from  '../../../../common/colors.css';
@value makerWhite from  '../../../../common/colors.css';
@value makerBlack from  '../../../../common/colors.css';

.container {
  display: flex;
  flex-direction: column;
  width: 14.5rem;
  height: 100%;
}

.image {
  width: 100%;
  height: 17rem;
  background-color: blue;
  position: relative;
}

.image__size {
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-family: Yoon_Gothic_780;
  font-size: 0.7rem;
  margin-top: 5px;
}

.text {
  text-align: left;
  word-break: break-word;
  font-family: Kopub_Medium;
  font-size: 0.73rem;
  width: 100%;
  height: 4.5rem;
}

.tag {
  display: flex;
  justify-content: flex-start;
  font-family: Maven_Pro;
  font-size: 0.8rem;
  width: 100%;
  height: 0.6rem;
  color: makerDeepBlue;
}

.cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: makerBlack;
  opacity: 0.6;
}

.cover__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Maven_Pro;
  background-color: makerWhite;
  color: makerBlack;
  border-radius: 20px;
  width: 7rem;
  height: 2rem;
  font-size: 0.7rem;
  font-weight: 600;
  top: 40%;
  left: 27%;
}

.cover__tag {
  position: absolute;
  font-family: Maven_Pro;
  font-size: 0.8rem;
  color: makerDeepBlue;
  width: 100%;
  top: 55%;
  text-align: center;
}

.opacity {
  opacity: 0;
}
