@value makerGrey from  './common/colors.css';
@value makerWhite from  './common/colors.css';

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: makerGrey;
  background-size: 100%;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.nav {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 45%;
  right: 20px;
}

.menu {
  position: absolute;
  top: 15px;
  left: 20px;
  color: makerWhite;
  font-size: 1.6rem;
}

.menu:hover {
  cursor: pointer;
}
