/* Maven_Pro */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

/* Noto Sans Korean */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: Gotham_Ultra;
  src: url("../fonts/iCiel_Ultra.ttf");
}

@font-face {
  font-family: Gotham_Bold;
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: Gotham_Medium;
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: Multi_Colore;
  src: url("../fonts/Multicolore.otf");
}

@font-face {
  font-family: Kopub_Light;
  src: url("../fonts/KoPubDotum_Pro_Light.otf");
}

@font-face {
  font-family: Yoon_Gothic_760;
  src: url("../fonts/YoonGothic760.ttf");
}

@font-face {
  font-family: Yoon_Gothic_790;
  src: url("../fonts/YoonGothic790.ttf");
}

@value Gotham_Ultra: Gotham_Ultra;
@value Gotham_Bold: Gotham_Bold;
@value Gotham_Medium: Gotham_Medium;
@value Maven_Pro: 'Maven Pro', sans-serif;
@value Multi_Colore: Multi_Colore;
@value Kopub_Light: Kopub_Light;
@value Noto_Sans_KR: 'Noto Sans KR', sans-serif;
@value Yoon_Gothic_760: Yoon_Gothic_760;
@value Yoon_Gothic_790: Yoon_Gothic_790;
